.dialogs_wrap{
	display: grid;
	grid-template-columns: 2fr 10fr;
}
.user_dialogs{
display: block;
padding: 0;
margin: 0;
list-style: none;
background: #ccc;
height: 100%;
}
.message_dialogs{
	display: block;
	padding: 0;
	margin: 0;
list-style: none;


}